body{
    background-image: url(https://wallpapercave.com/wp/wp5961273.jpg);
     background-size: 120%;
      animation: moveBackground 60s ease infinite;
    backdrop-filter: blur(4px);
}


h1{
    color: rgb(98, 91, 91);
    font-size:xx-large;
    text-align: center;
    margin-right: 70px;
}

#des{
    width: 50%;
    font-size: large;
    margin-top: 60px;
    margin-left: 360px;
    font-family: 'Georgia', serif;
    color:rgb(219, 235, 240);
    

}

  @keyframes moveBackground {
      0% { background-position: 0% 50%; }
      50% { background-position: 100% 50%; }
      100% { background-position: 0% 50%; }
    }


#reserved{
    margin-right: 50px;
}

#backBtn{
    padding: 0.8%;
    background-color: lightgray;
    border-radius: 3px;
    font-weight: bold;
    color:rgb(74, 69, 62);
}