/* Reset margins and padding to avoid scrollbars */
body,
html {
  margin: 0;
  padding: 0;
}

main {
  display: grid; /* We'll use CSS Grid to place tiles */
  position: relative;
}

div {
  /* box-sizing: border-box includes border and padding inside the element */
  box-sizing: border-box;
}
.storege{
  background-color: aliceblue;
  margin-top:20px ;
  position: absolute;
  top: 170px;
  left: 10px;
  display: flex;
  flex-direction: column;
  
}
.storege > div {
margin: 3px;
  width: 30px;
  height: 30px;
}
#dirt{
display: none;

}
#trunk{
display: none;

}
#leaf{
display: none;

}
#dirtTop{
display: none;

      }


.side-elements{
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 2;
  top: 20px;
}



div:hover {
  border: 1px solid black;
}

/* Tiles styles */
.sky-tile {
  background-color: aqua;
}

.dirt-tile {
  background-image: url("../assets/imges/dirt.jpg");
  background-size: cover;
}

.dirtTop-tile {
  background-image: url("../assets/imges/dirtTop.jpg");
  background-size: cover;
}

.trunk-tile {
  background-image: url("../assets/imges/trunk.jpg");
  background-size: cover;
}

.leaf-tile {
  background-image: url("../assets/imges/leaf.jpg");
  background-size: cover;
}

#tools {
  position: absolute;
  top: 20px;
  left: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.buttons{
  position:absolute;
  display: flex;
  top: 20px; 
  left: 20px; 
  justify-content: end;


}
.img-tools {
  width: 25px;
  height: 25px;
}
