body{
    background-image: url(https://wallpapercave.com/wp/wp5961273.jpg);
}

h1{
    color: rgb(86, 78, 78);
    font-size:xx-large;
    text-align: center;
}

#des{
    width: 50%;
    font-size: large;
    margin-top: 60px;
    margin-left: 360px;
}