/* Reset margins and padding to avoid scrollbars */
body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

main {
  display: grid; /* We'll use CSS Grid to place tiles */
}

div {
  width: 32px;
  height: 32px;
  background-size: cover;
}

/* Tiles styles */
.sky-tile {
  background-color: aqua;
}

.dirt-tile {
  background-image: url("./assets/dirt.jpg");
}

.dirtTop-tile {
  background-image: url("./assets/dirtTop.jpg");
}

.trunk-tile {
  background-image: url("./assets/trunk.jpg");
}

.leaf-tile {
  background-image: url("./assets/leaf.jpg");
}
